[Desktop Entry]
Comment=A system configurer at first boot
Exec=
GenericName=A system configurer at first boot
Icon=/usr/share/turbulence/images/manjaro-grey/turbulence.png
Hidden=false
MimeType=
Name=Turbulence
Path=/usr/share/turbulence
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
