[Desktop Entry]
Type=Application
Name=Post Installation Script
Comment=A Post Installation Script developed for Manjaro Awesome Respin
Exec=postinstall
Icon=utilities-terminal
Terminal=true
Categories=System;
